@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    h1 {
        @apply text-2xl;
      }
      h2 {
        @apply text-xl;
      }
      h3 {
        @apply text-lg;
      }
      a {
        /* @apply text-blue-600 underline; */
      }
}

.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  margin-top: 4px;
}
 
.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #16232e;
  color: #16232e;
  cursor: pointer;
}
 
.navigationButtons a:hover {
  color: white;
  background-color: #67b4bc;
}
 
.navigationActive a {
  color: white;
  background-color: #16232e;
}
 
.navigationDisabled a {
  color: rgb(247, 247, 247);
  background-color: rgb(207, 207, 207);
}

#postCard{
    cursor: pointer;
    height: auto;
    min-height: 450px;
    border-radius: 1.5rem;
    transition: 0.3s;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
        #postCard:hover{
          transform: scale(1.1);
          box-shadow: 0 8px 16px 0 rgba(149,176,181,2);
        }

#postContent{
        color: #054E58;
        width:90%;
        height: auto;
        margin-right: 2rem;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
}
        #postContent:hover{
          overflow: initial;
          white-space: normal;
          overflow-wrap: break-word;
        }

        .content{
          color: #054E58;
        width:90%;
        height: auto;
        margin-right: 2rem;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        }
        .content:hover{
          overflow: initial;
          white-space: normal;
          overflow-wrap: break-word;
        }

#createForm{
  border-radius: 1.5rem;
  box-shadow: 0 8px 16px 0 rgba(149,176,181,2);
}

#editForm{
  border-radius: 1.5rem;
  box-shadow: 0 8px 16px 0 rgba(149,176,181,2);
}

#userSettingsForm{
  border-radius: 1.5rem;
  box-shadow: 0 8px 16px 0 rgba(149,176,181,2);
}

/* .button{
  box-shadow: 0 2px 4px 0 rgba(149,176,181,2)
}

#createButton:hover{
  transform: scale(1.01);
} */

/* #EditButton{
  box-shadow: 0 2px 4px 0 rgba(149,176,181,2)
}

#Button:hover{
  transform: scale(1.01);
}

#createButton{
  box-shadow: 0 2px 4px 0 rgba(149,176,181,2)
}

#createButton:hover{
  transform: scale(1.01);
} */